<div class="app-form">
    <h1 class="text-align:{{ block.settings.alignment }}">{{ block.settings.form_title }}</h1>
    <h2 class="quiz-title"></h2>
    <div class="question-container"></div>
    <button id="next-button" onclick="nextQuestion()">NEXT</button>
</div>






   {% schema %}
       {
          "name": "Showing Questions",
          "target": "section",
          "class": "app-dashboard-app",
          "stylesheet": "questions.css",
          "javascript": "questions.js",
          "settings": [
           {
              "label": "App Form Title",
              "id": "form_title",
              "type": "text"
           },
           {
              "type": "text",
              "id": "alignment",
              "label": "Text Alignment",
              "default": "center"
           }
          ]
       }
       {% endschema %}